@{
    ViewBag.Title = "About";
}
<h1 style="color :firebrick">@ViewBag.Title</h1>
<h3 style="color:black;"><center><p>BabyStore was founded in 2020  with a vision of building the best online store for children's clothing. Our goal is to inspire our customers by offering an exclusive shopping experience and excellent customer service with the best mixture of well-known and high-quality brands. </p></center></h3>


