@{ ViewBag.Title = "Contact"; }
<h2 style="color:firebrick;">@ViewBag.Title</h2>


<address>
    You Can find us <br />
    Sfax , Route Sokra BabyStore <br />
    <abbr title="Phone">Phone</abbr>
    75  253 197
</address>

<address>

    <strong>Contact us</strong> <a href="mailto:Marketing@example.com">babyStore@enis.com</a>
</address>