@{ ViewBag.Title = "Home Page"; }


<h1 style="color:firebrick;"><center>BabyStore By Salsabil & Ghada</center></h1>


<br />
<br />
<br />
<div class="card-columns" style="background-color:burlywood">
    <div class="card text-center">
        <div class="card-body">
            <h2 class="card-title" style="color :brown;"> Baby  clothes</h2>
            <p class="card-text" >
                Baby Girl Pajamas,Baby Girl Dresses & Rompers , Baby Boy Bodysuits,Baby Boy Jackets & Outerwear, Baby Swimwear
            </p>
            <p class="card-text"><small class="text-muted">Gerber Childrenswear,Hanna Andersson,Carter’s</small></p>


        </div>



    </div>
    <div class="card text-center">
        <div class="card-body">
            <h2 class="card-title" style="color :brown;"> Baby  Food</h2>
            <p class="card-text">
                Baby Cereal with Milk, Wheat Apple – From 6 Months,Nestum Infant Cereal Stage-3 (10 Months-24 Months) Rice 3 Fruits,NAN PRO 1 Infant Formula Powder (Upto 6 months), Stage 1-400g Bag
            </p>
            <p class="card-text"><small class="text-muted">Nestlé</small></p>


        </div>



    </div>
    <div class="card text-center">
        <div class="card-body">
            <h2 class="card-title" style="color :brown;"> Baby  Accessories </h2>
            <p class="card-text">
                LuvLap Sports Convertible Car Seat for Baby & Kids from 0 Months to 4 Years,zinza Pocket Stroller Lite Portable Travel Friendly Pre Installed Baby Stroller and Pram for Baby|Kids|Infants|New Born|Boys|Girls of 0 to 3 Years
            <p class="card-text"><small class="text-muted">zinza,LuvLap</small></p>


        </div>



    </div>
    <div class="card text-center">
        <div class="card-body">
            <h2 class="card-title" style="color :brown;"> Baby  Toys </h2>
            <p class="card-text">
                Fisher-Price Sit-Me-Up Floor Seat - Pacific Pebble Theme, Infant Chair,Toyshine Dancing Dog with Music Flashing Lights,Little’s Soft Baby Ball with Rattle Sound
            <p class="card-text"><small class="text-muted">Sunshine Gifting</small></p>


        </div>



    </div>
</div>