@model BabyStore.Models.Category

@{
    ViewBag.Title = "Remove Category";
}



<h3>Are you sure you want to delete this category?</h3>
<div class="bs-example">
    
    <dl  class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
@Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>}
</div>
